@charset "UTF-8"

*{ /*zerando todas as conf. para iniciar o projeto*/
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 95vw;
    
    
}
body{ /*conf. para o papel de fundo*/
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{ /*conf. em conj. para o celualr ficar centralizado*/
    position: relative;
    height: 90vh;
        
}

section#telefone{
    /*conf. para o celular ficar centralizado*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat;
    ;

    /*criando uma caixa para o celualr ficar no centro da tela*/
    height: 627px;
    width: 311px;
        
}

iframe#tela{ /*conteudo dentro do iframe para ser a tela home do celular*/
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
    
    
}

section#redes-sociais img{ /*criando os botoes*/
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.408);
    box-sizing: border-box; /*a borda faz parte do botoes, efeito para criar o movimento quando passar o mouse*/

    
}

section#redes-sociais img:hover{ /*conf para os botoes se "mover" quando passar o mouse por cima*/
    border: 2px solid rgba(255, 255, 255, 0.497);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.593);
    transition: transform 0.2s;


}

section#redes-sociais{ /*conf a posição dos botoes*/
    text-align: right;
}